<head>
	<script src="javascript.js" type="text/javascript"></script>
	<link rel="stylesheet" href="stylesheet.css">
</head>
<body>
<div class="calc">
  <label for="num1">First number:</label>
  <input type="text" id="fno" name="firstno"><br><br>
  <label for="num2">Second number:</label>
  <input type="text" id="sno" name="secondno"><br><br>
  <label for="num2">Answer :</label>
  <input type="text" id="ans" name="ans"><br><br>
  <button onclick="add()">ADD</button>
  </div>
</body>